/*Ripple Effect Classes for Computer Moves*/
div.simon-button.green.cpu{
  position: relative;
  background-color: darkgreen;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
div.simon-button.green.cpu:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}
div.simon-button.green.cpu:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
div.simon-button.red.cpu{
  position: relative;
  background-color: darkred;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
div.simon-button.red.cpu:after {
  content: "";
  background: rgb(238, 144, 144);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}
div.simon-button.red.cpu:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
div.simon-button.yellow.cpu{
  position: relative;
  background-color: gold;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
div.simon-button.yellow.cpu:after {
  content: "";
  background: rgb(238, 236, 144);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}
div.simon-button.yellow.cpu:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
div.simon-button.blue.cpu {
  position: relative;
  background-color: darkblue;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
div.simon-button.blue.cpu:after {
  content: "";
  background: rgb(144, 161, 238);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}
div.simon-button.blue.cpu:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}