*{
  box-sizing: border-box;
}
html {
  background-color: #FCFCFC;
  font-family: Arial;
  font-size: 18px;
}
#content {
  width: 800px;
  margin: 0 auto;
}
#content h1 {
  font-size: 3rem;
  text-align: center;
  color: white
}
.simon-container {
  margin: 20px auto;
  width:400px;
  height:400px;
  /* background-color:black; */
  display:grid;
  grid-template-columns: 200px 200px;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.simon-container .simon-button {
  align-items: center;
  background-color: #333;
  border-radius: 10px;
  color: #fff;
  padding: 20px;
  justify-content: center;
  font-size: 40px;
  font-family: sans-serif;
}
.simon-button.green {
  background-color: darkgreen;
}
.simon-button.red {
  background-color: darkred;
}
.simon-button.yellow {
  background-color: gold;
}
.simon-button.blue {
  background-color: darkblue;
}

.simon-button:hover {
  /* transform: scale(1.1); */
  cursor:pointer;
}
/*
.simon-button.green:hover {
  border: 5px solid green;
  background-color: rgb(0, 184, 0);
}
div.simon-button.red:hover {
  border: 5px solid red;
  background-color: red;
  transform: scale(1.1);
  cursor: pointer;
}
div.simon-button.yellow:hover {
  border: 5px solid yellow;
  background-color: yellow;
  transform: scale(1.1);
  cursor: pointer;
}
div.simon-button.blue:hover {
  border: 5px solid blue;
  background-color: blue;
  transform: scale(1.1);
  cursor: pointer;
} */
/*Ripple Effect for each button*/

div.simon-button.green {
  position: relative;
  background-color: darkgreen;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
div.simon-button.green:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}
div.simon-button.green:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
div.simon-button.red {
  position: relative;
  background-color: darkred;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
div.simon-button.red:after {
  content: "";
  background: rgb(238, 144, 144);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}
div.simon-button.red:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
div.simon-button.yellow {
  position: relative;
  background-color: gold;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
div.simon-button.yellow:after {
  content: "";
  background: rgb(238, 236, 144);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}
div.simon-button.yellow:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
div.simon-button.blue {
  position: relative;
  background-color: darkblue;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
div.simon-button.blue:after {
  content: "";
  background: rgb(144, 161, 238);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}
div.simon-button.blue:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
  /*border: 5px solid blue;*/

/*Ripple Effect Classes for Computer Moves*/
div.simon-button.green.cpu{
  position: relative;
  background-color: darkgreen;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
div.simon-button.green.cpu:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}
div.simon-button.green.cpu:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
div.simon-button.red.cpu{
  position: relative;
  background-color: darkred;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
div.simon-button.red.cpu:after {
  content: "";
  background: rgb(238, 144, 144);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}
div.simon-button.red.cpu:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
div.simon-button.yellow.cpu{
  position: relative;
  background-color: gold;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
div.simon-button.yellow.cpu:after {
  content: "";
  background: rgb(238, 236, 144);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}
div.simon-button.yellow.cpu:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
div.simon-button.blue.cpu {
  position: relative;
  background-color: darkblue;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
div.simon-button.blue.cpu:after {
  content: "";
  background: rgb(144, 161, 238);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}
div.simon-button.blue.cpu:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
